.DS_Store
*.plist
*.plist
BeatCross/GoogleService-Info.plist
BeatCross/Info.plist

# Xcode
.DS_Store
.build/
DerivedData/
.idea/
*.xcworkspace
*.xcuserstate
*.xcscmblueprint
*.xcuserdatad/

# Swift Package Manager
/.swiftpm/
/Package.resolved

# Carthage
/Carthage/Build/

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Provisioning Profiles
*.mobileprovision
*.pbxproj

# Simulator files
Library/Preferences/com.apple.iphonesimulator.plist
Library/Developer/CoreSimulator/

# Firebase
GoogleService-Info.plist

# Env files
.env
.env.*