<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPOTIFY_CLIENT_SECRET</key>
	<string>91291389b3a14fb7a5743b8b3168cb5b</string>
	<key>SPOTIFY_CLIENT_ID</key>
	<string>6fa6e3939c0343a9a1f84a6ec5cde007</string>
</dict>
</plist>
